body{
  height: 100vh;
  background-image: linear-gradient(rgb(25, 91, 153), rgb(31, 168, 196));
  
}
.container{
  text-align: center;
  margin-top: 23px;
  border: 2px #ff6363;
}
table{
  margin : auto;
}
input{
  font-size: 30px;
  border-radius: 20px;
  border: 5px solid white;
  width: 55vh;
  margin-bottom: 10px;
  padding: 10px;
}
button{
  font-size: 40px;
  background: rgb(139, 178, 195);
  width: 102px;
  height: 58px;
  border-radius: 30px;
}

.calculator{
  color: white;
  display: inline-block;
  background-color: rgb(35, 33, 33);
  padding: 23px;
  border-radius: 53px;
}